.metrics-card-container {
  width: 100%;
  margin-top: -40px;
  margin-bottom: 20px;
}

.ant-card-head {
  border-bottom: 0px;
  padding: 0px 10px 0 10px;
  min-height: 30px;
} 

.ant-card-head-title {
  text-align: left;
  font-size: 15px;
  margin-top: -5px;
  color: #0ff4e9;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.metrics-card {
  border-radius: 7px;
  box-shadow: 0 0 5px #0ff4e9,inset 0 0 5px #0ff4e9;
  border: 2px solid #0ff4e9;
  background: black
}

.ant-card-body {
  padding: 10px 10px 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metrics-card-body-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.metrics-icon {
  height: 70px;
  justify-content: flex-start;
  align-items: center;
}

.metrics-card-balance {
  color: white;
  font-size: 35px;
  align-items: center;
  margin-left: 10px;
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-top: 5px;
}