.app-container {
  text-align: center;
  min-height: 100vh;
  background-color: #000;
  position: relative;
  padding-top: 160px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.app-video-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
  min-width: 900px;
}

/*
  Small vertical gradient at the bottom & top
  of the video container to make the transition
  between the video and body smoother.
*/
.app-video-container::after {
  content: "";
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.app-video-container::before {
  content: "";
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.app-banner-container {
  width: 100%;
  z-index: 2;
  position: relative;
}

/* .app-fund-container {
  width: auto;
  background-color: rgb(89, 150, 191, 0.2);
  margin: 0 50px;
  padding: 30px 30px;
  border-radius: 15px;
  height: auto;
  display: flex;
  position: absolute;
  z-index: 3;
} */

.App-link {
  color: #61dafb;
}
