.app-carousel-container {
  height: 100%;
  width: 100%;

  .ant-carousel {
    height: 400px;
    width: 100%;

    .carousel-one-container {
      height: 100%;
      width: auto;
      display: block;

      .carousel-banner-title {
        color: #0ff4e9;
        text-align: center;
        width: 100%;
        font-size: 50px;
        font-family: "Inter", sans-serif;
        font-weight: 900;
        letter-spacing: 5px;
        animation: fadeIn 5s;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .carousel-dowgo-logo-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 60px;
        .carousel-dowgo-logo {
          height: 200px;
          width: auto;
        }
      }

      .carousel-button-invest {
        width: 200px;
        height: 60px;
        margin-top: 70px;
        border-radius: 50px;
        color: white;
        font-weight: 600;
        font-size: 22px;
        font-family: "Inter", sans-serif;
        color: #0ff4e9;
        border: 2px solid #0ff4e9;
        box-shadow: 0 0 5px #0ff4e9, inset 0 0 5px #0ff4e9;
        background-color: black;
        cursor: pointer;
        letter-spacing: 3px;
      }
    }

    .carousel-two-container {
      height: 720px;
      width: auto;
      display: block;
      .carousel-invest-title {
        color: #0ff4e9;
        text-align: center;
        width: 100%;
        font-size: 50px;
        font-family: "Inter", sans-serif;
        font-weight: 900;
        letter-spacing: 5px;
        animation: fadeIn 5s;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      .carousel-invest-dowgo-one {
        margin: 50px 0 0 0;
        border-radius: 50%;
        border: 2px solid #0ff4e9;
        box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #0ff4e9,
          inset -20px 0 80px #0ff, inset 20px 0 300px #0ff4e9,
          inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #0ff4e9,
          10px 0 80px #0ff;
      }

      .carousel-invest-metrics {
        margin: 100px 50px 100px 50px;
      }
    }
  }
}

.slick-track {
  height: 670px;
}

.slick-slide .slick-active .slick-current {
  height: 670px;
}
