@font-face {
  font-family: "s";
  src: url("./assets/font/soehne-breit-test-leicht.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "s";
  src: url("./assets/font/soehne-breit-test-kraftig.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "s";
  src: url("./assets/font/soehne-breit-test-halbfett.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "s";
  src: url("./assets/font/soehne-breit-test-dreiviertelfett.woff")
    format("woff");
  font-weight: 600;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-branded: "s", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #010103;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
